/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  margin: auto;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
h1 {
  font-size: 6.5rem;
  color: #ffffff;
}
@media (min-width: 1000px) {
  h1 {
    font-size: calc(6.5rem + 0.1vw);
  }
}
h2 {
  font-size: 5rem;
  color: #ffffff;
}
@media (min-width: 1000px) {
  h2 {
    font-size: calc(5rem + 0.1vw);
  }
}
h3 {
  font-size: 3rem;
  color: #ffffff;
}
@media (min-width: 1000px) {
  h3 {
    font-size: calc(3rem + 0.1vw);
  }
}
h4 {
  font-size: 4rem;
  color: #666;
}
@media (min-width: 1000px) {
  h4 {
    font-size: calc(4rem + 0.1vw);
  }
}
h5 {
  font-size: 2.5rem;
  color: #666;
}
@media (min-width: 1000px) {
  h5 {
    font-size: calc(2.5rem + 0.1vw);
  }
}
h6 {
  font-size: 1.5rem;
  color: #ffffff;
}
@media (min-width: 1000px) {
  h6 {
    font-size: calc(1.5rem + 0.1vw);
  }
}
p {
  font-size: 1.8rem;
  color: #666;
  line-height: 2.2rem;
}
@media (min-width: 1000px) {
  p {
    font-size: calc(2.2rem + 0.1vw);
    line-height: calc(2.2rem + 0.3vw);
  }
}
a {
  font-size: 2.4rem;
  color: #ffffff;
}
@media (min-width: 1000px) {
  a {
    font-size: calc(2.4rem + 0.1vw);
  }
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.star1 {
  font-size: 2rem;
  color: #6b88e6;
}
@media (min-width: 1000px) {
  .star1 {
    font-size: calc(2rem + 0.1vw);
  }
}
.star2 {
  font-size: 2rem;
  color: #4a87d3;
}
@media (min-width: 1000px) {
  .star2 {
    font-size: calc(2rem + 0.1vw);
  }
}
.star3 {
  font-size: 2rem;
  color: #57aed3;
}
@media (min-width: 1000px) {
  .star3 {
    font-size: calc(2rem + 0.1vw);
  }
}
.star4 {
  font-size: 2rem;
  color: #6bd4c8;
}
@media (min-width: 1000px) {
  .star4 {
    font-size: calc(2rem + 0.1vw);
  }
}
.star5 {
  font-size: 2rem;
  color: #8addaa;
}
@media (min-width: 1000px) {
  .star5 {
    font-size: calc(2rem + 0.1vw);
  }
}
.hidden {
  display: none;
}
.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-5 12:54:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
#about-header {
  background-image: linear-gradient(45deg, #4fa49a, #4361c2);
  margin-bottom: 30px;
  padding: 10px 0;
  width: 100%;
}
#about-header .nav-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: auto;
}
#about-header .nav-content nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
#about-header .nav-content nav a {
  font-size: 1.5rem;
  margin: 10px;
}
@media (min-width: 1000px) {
  #about-header .nav-content nav a {
    font-size: calc(1.5rem + 0.1vw);
  }
}
@media (min-width: 800px) {
  #about-header .nav-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  #about-header .nav-content {
    max-width: calc(900px + 10vw);
  }
}
#top {
  background-image: linear-gradient(45deg, #4fa49a, #4361c2);
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
#top .market-top {
  width: 100%;
  max-width: 900px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
#top .market-top .logo {
  max-width: 100px;
}
@media (min-width: 1000px) {
  #top .market-top .logo {
    max-width: calc(100px + 2vw);
  }
}
#top .market-top .market-nav {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
#top .market-top .market-nav a {
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  #top .market-top .market-nav a {
    font-size: calc(1.5rem + 0.1vw);
  }
}
@media (min-width: 501px) {
  #top .market-top .market-nav {
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) {
  #top .market-top {
    max-width: calc(900px + 10vw);
  }
}
#top .header-row1 {
  margin: 50px auto;
}
#top .header-row1 .hello-welcome {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
#top .header-row1 .hello-welcome .hello {
  margin-bottom: 30px;
}
@media (min-width: 501px) {
  #top .header-row1 .hello-welcome .hello {
    margin-bottom: 50px;
  }
}
#top .header-row1 .hello-welcome .welcome {
  display: none;
  justify-content: flex-start;
  text-align: center;
}
@media (min-width: 800px) {
  #top .header-row1 .hello-welcome .welcome {
    text-align: left;
  }
}
@media (min-width: 800px) {
  #top .header-row1 .hello-welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
#top .header-row1 #hidden-img {
  display: none;
}
#top .header-row1 .header-img {
  display: none;
  width: 40%;
  border-radius: 50%;
}
@media (min-width: 800px) {
  #top .header-row1 .header-img {
    display: flex;
  }
}
@media (min-width: 501px) {
  #top .header-row1 {
    margin-bottom: 70px;
  }
}
@media (min-width: 800px) {
  #top .header-row1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 760px;
  }
}
@media (min-width: 1000px) {
  #top .header-row1 {
    max-width: calc(760px + 5vw);
    margin-top: 10px;
  }
}
#top .intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
#top .intro h3 {
  text-align: center;
  margin-bottom: 20px;
}
#top .intro a:hover {
  background: #666;
  opacity: 0.8;
}
#top .intro .btn {
  text-decoration: none;
  margin: 20px 0;
  padding: 12px 25px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1.5px solid #ffffff;
}
@media (min-width: 800px) and (min-height: 100vw) {
  #top .intro .btn {
    display: none;
  }
}
@media (min-width: 501px) {
  #top .intro {
    width: 460px;
  }
}
@media (min-width: 1000px) {
  #top .intro {
    width: calc(460px + 10vw);
  }
}
@media (min-width: 501px) {
  #top {
    align-items: center;
  }
}
@media (min-width: 800px) and (min-height: 100vw) {
  #top {
    min-height: 45vh;
    max-height: 100vw;
  }
}
@media (min-width: 1000px) {
  #top {
    justify-content: center;
  }
}
footer {
  background-image: linear-gradient(135deg, #4fa49a, #4361c2);
  margin-top: 30px;
  padding: 10px 0;
  width: 100%;
}
footer .footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: auto;
}
footer .footer-content h6 {
  text-align: center;
  margin-left: 20px;
}
footer .footer-content nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
footer .footer-content nav a,
footer .footer-content nav h6 {
  font-size: 1.5rem;
  margin: 10px;
}
@media (min-width: 1000px) {
  footer .footer-content nav a,
  footer .footer-content nav h6 {
    font-size: calc(1.5rem + 0.1vw);
  }
}
@media (min-width: 1000px) {
  footer .footer-content {
    max-width: calc(900px + 10vw);
  }
}
.tabs {
  padding-top: 5px;
}
.tabs .topics {
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 900px;
}
.tabs .topics .tab {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.tabs .topics .tab:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
@media (min-width: 501px) {
  .tabs .topics .tab {
    padding: 10px 20px;
  }
}
.tabs .topics .active-tab {
  background-color: #e6e6e6;
}
@media (min-width: 1000px) {
  .tabs .topics {
    max-width: calc(900px + 10vw);
  }
}
#main-content {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
#main-content .active-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main-content .active-card .card-content {
  margin: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}
#main-content .active-card .card-content .body-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 470px;
  border-radius: 30px;
}
#main-content .active-card .card-content .description {
  margin: auto;
  text-align: justify;
  width: 100%;
  padding-top: 20px;
  max-width: 540px;
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .description {
    padding-top: 0;
    margin: 0;
  }
}
@media (min-width: 800px) {
  #main-content .active-card .card-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 40px;
  }
  #main-content .active-card .card-content .description,
  #main-content .active-card .card-content .body-img {
    width: 42.5%;
  }
}
#main-content .active-card .card-content .review {
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#main-content .active-card .card-content .review:first-child {
  margin-top: 0;
}
#main-content .active-card .card-content .review:last-child {
  margin-bottom: 0;
}
#main-content .active-card .card-content .review p {
  text-align: center;
  padding-top: 20px;
}
#main-content .active-card .card-content .review h6 {
  color: #666;
}
#main-content .active-card .card-content .review .review-summary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
#main-content .active-card .card-content .review .review-summary .review-img {
  width: 100%;
  max-width: 200px;
  border-radius: 25px;
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .review .review-summary {
    width: 25%;
    max-width: 200px;
  }
}
#main-content .active-card .card-content .review .review-details {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .review .review-details .stars {
    padding-top: 0;
  }
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .review .review-details .review-extended {
    display: flex;
  }
}
#main-content .active-card .card-content .review .review-details .see-btn {
  padding-top: 10px;
  cursor: pointer;
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .review .review-details .see-btn {
    display: none;
  }
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .review .review-details {
    width: 62%;
  }
}
@media (min-width: 800px) {
  #main-content .active-card .card-content .review {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
  }
}
@media (min-width: 1000px) {
  #main-content .active-card .card-content .review {
    max-width: calc(900px + 10vw);
  }
}
@media (min-width: 800px) {
  #main-content .active-card #reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
  }
}
#main-content .sign-up {
  border-top: 1px solid #666;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
#main-content .sign-up p {
  padding: 30px 0 10px;
}
#main-content .sign-up #signup-btn {
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #4fa49a;
  margin: 10px auto;
}
#main-content .sign-up #signup-btn:hover {
  background-color: #c3e895;
}
@media (min-width: 1000px) {
  #main-content {
    max-width: calc(900px + 10vw);
  }
}
.about-content {
  width: 90%;
  max-width: 900px;
  margin: auto;
}
.about-content .about-intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.about-content .about-intro img {
  width: 80%;
  max-width: 300px;
}
@media (min-width: 501px) {
  .about-content .about-intro img {
    width: 60%;
    max-width: 400px;
  }
}
@media (min-width: 800px) {
  .about-content .about-intro img {
    width: 30%;
  }
}
.about-content .about-intro .about-intro-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}
.about-content .about-intro .about-intro-text h2 {
  color: #666;
  margin-bottom: 30px;
}
.about-content .about-intro .about-intro-text h5 {
  text-align: center;
  line-height: 3rem;
}
@media (min-width: 1000px) {
  .about-content .about-intro .about-intro-text h5 {
    line-height: calc(3rem + 0.3vw);
  }
}
@media (min-width: 800px) {
  .about-content .about-intro .about-intro-text {
    width: 60%;
  }
}
@media (min-width: 800px) {
  .about-content .about-intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.about-content .about-people {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.about-content .about-people .about-person {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
}
.about-content .about-people .about-person .person-intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.about-content .about-people .about-person .person-intro img {
  border-radius: 50%;
  width: 50%;
}
@media (min-width: 800px) {
  .about-content .about-people .about-person .person-intro img {
    width: 100%;
  }
}
.about-content .about-people .about-person .person-intro .person-name {
  margin-top: 20px;
  border-bottom: 1px solid #666;
}
@media (min-width: 800px) {
  .about-content .about-people .about-person .person-intro .person-name {
    border: none;
  }
}
@media (min-width: 800px) {
  .about-content .about-people .about-person .person-intro {
    width: 25%;
    margin-left: 10%;
  }
}
.about-content .about-people .about-person .person-details {
  text-align: center;
  line-height: 3rem;
  margin-top: 15px;
}
@media (min-width: 800px) {
  .about-content .about-people .about-person .person-details {
    width: 65%;
  }
}
@media (min-width: 1000px) {
  .about-content .about-people .about-person .person-details {
    line-height: calc(3rem + 0.3vw);
  }
}
@media (min-width: 800px) {
  .about-content .about-people .about-person {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .about-content {
    max-width: calc(900px + 10vw);
  }
}
