.about-content{
    width: 90%;
    max-width: 900px;
    margin: auto;

    .about-intro{
        h2{
            color: @charcoal;
        }
    }

    .about-people{
        .flex-box(column nowrap, space-evenly, center);

        .about-person{
            .flex-box(column nowrap, space-evenly, center);
            margin: 40px 0;

            .person-intro{
                .flex-box(column nowrap, space-evenly, center);

                img{
                    border-radius: 50%;
                    width: 50%;

                    @media @tablet-landscape{
                        width: 100%;
                    }
                }

                .person-name{
                    margin-top: 20px;
                    border-bottom: 1px solid @charcoal;

                    @media @tablet-landscape{
                        border: none;
                    }
                }

                @media @tablet-landscape{
                    width: 25%;
                    margin-left: 10%;
                }
            }

            .person-details{
                text-align: center;
                line-height: 30px;
                margin-top: 15px;

                @media @tablet-landscape{
                    width: 65%;
                }
            }

            @media @tablet-landscape{
                .flex-box(row wrap, space-between, center);
                width: 100%;
            }
        }
    }

    @media @desktop{
        max-width: calc(900px + 10vw);
    }
}