footer{
    .gradient(135deg);
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;

    .footer-content{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 90%;
        max-width: 900px;
        margin: auto;

        h6{
            text-align: center;
            margin-left: 20px;
        }
    
        nav{
            display: flex;
            flex-wrap: wrap;
            width: 250px;
            justify-content: space-between;
            align-content: center;

            a, h6{
                font-size: 1.5rem;
                margin: 5px 0;

                @media @desktop{
                    font-size: calc(1.5rem + 0.1vw);
                }
            }
        }

        @media @desktop{
            max-width: calc(900px + 10vw);
        }
    }
}