// General Styles
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
}

h1{
    font-size: 4rem;
    color: @font-light;
}