#top{
    .gradient(45deg);
    height: auto;
    min-height: 100vh;
    .flex-box(column nowrap, flex-start, flex-start);
    padding: 20px;

    .market-top{
        width: 100%;
        max-width: 900px;
        display: none;
        justify-content: space-between;
        align-items: center;

        .logo{
            max-width: 100px;

            @media @desktop{
                max-width: calc(100px + 2vw);
            }
        }

        .market-nav{
            width: 100%;
            padding-top: 10px;
            .flex-box(row wrap, space-evenly, center);
    
            a{
                font-size: 1.5rem;

                @media @desktop{
                    font-size: calc(1.5rem + 0.1vw);
                }
            }
    
            @media @tablet-portrait{
                margin-bottom: 20px;
            }
        }

        @media @desktop{
            max-width: calc(900px + 10vw);
        }
    }

    .header-row1{
        margin: 50px auto;

        .hello-welcome{
            .flex-box(column wrap, space-evenly, center);
            .hello{
                margin-bottom: 30px;

                @media @tablet-portrait{
                    margin-bottom: 50px;
                }
            }
        
            .welcome{
                display: none;
                justify-content: flex-start;
                text-align: center;

                @media @tablet-landscape{
                    text-align: left;
                }
            }

            @media @tablet-landscape{
                .flex-box(column wrap, space-evenly, flex-start);
            }
        }

        #hidden-img{
            display: none;
        }
    
        .header-img{
            display: none;
            width: 40%;
            border-radius: 50%;

            @media @tablet-landscape{
                display: flex;
            }

            @media @desktop{
                width: 35%;
            }

            @media @desktop-large{
                width: 40%;
            }
        }

        @media @tablet-portrait{
            margin-bottom: 70px;
        }

        @media @tablet-landscape{
            .flex-box(row wrap, space-between, center);
            max-width: 760px;
            margin: 30px auto;
        }

        @media @desktop{
            max-width: calc(760px + 5vw);
            margin-top: 10px;
        }

        @media @desktop-large{
            margin: 50px auto;
        }
    }

    .intro{
        .flex-box(column nowrap, flex-start, center);

        h3{
            text-align: center;
            margin-bottom: 20px;

            @media @desktop{
                margin-bottom: 10px;
            }

            @media @desktop-large{
                margin-bottom: 20px;
            }
        }

        a{
            &:hover{
                background: @charcoal;
                opacity: 0.8;
            }
        }
        
        .btn{
            text-decoration: none;
            margin: 20px 0;
            .custom-btn(12px, 25px);
            border: 1.5px solid @white;

            @media @tablet-landscape{
                @media (min-height: 100vw){
                    display: none;
                }
            }
        }

        @media @tablet-portrait{
            width: 460px;
        }

        @media @desktop{
            width: calc(460px + 10vw);
        }
    
    }

    @media @tablet-portrait{
        align-items: center;
    }

    @media @tablet-landscape{
        @media (min-height: 100vw){
            min-height: 45vh;
            max-height: 100vw;
        }
    }

    @media @desktop{
        justify-content: center;
    }
}