#top{
    .gradient(45deg);
    height: 800px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .market-nav{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 900px;

        a{
            font-size: 1.5rem;
        }

        @media @tablet{
            margin-bottom: 20px;
        }
    }

    .header-row1{
        margin: 50px 0;

        .hello-welcome{
            .hello{
                margin: 0 20px 30px;

                @media @tablet{
                    margin-bottom: 50px;
                }
            }
        
            .welcome{
                margin-left: 20px;
                display: none;
                justify-content: flex-start;
            }
        }

        #hidden-img{
            display: none;
        }
    
        .header-img{
            display: none;
            width: 40%;
            height: 40%;
            border-radius: 50%;

            @media @desktop{
                display: flex;
            }
        }

        @media @tablet{
            margin-bottom: 70px;
        }

        @media @desktop{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 760px;
        }
    }

    .intro{
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h3{
            text-align: center;
        }

        a{
            &:hover{
                background: @charcoal;
                opacity: 0.8;
            }
        }
        .btn{
            text-decoration: none;
            .custom-btn(150px, 55px);
            border: 1.5px solid @white;
            margin-bottom: 40px;
        }

        @media @tablet{
            width: 460px;
        }

        @media @desktop{
            height: 250px;
        }
    
    }

    @media @tablet{
        align-items: center;
        height: 850px;
    }
}