.tabs {
    padding-top: 30px;

    .topics{
        margin: 20px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid @charcoal;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 90%;
        max-width: 900px;
    
        .tab{
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;
            transition: 0.5s;
    
            &:hover{
                background-color: @light-grey;
                cursor: pointer;
            }

            @media @tablet{
                padding: 10px 20px;
            }
        }

        .active-tab {
            background-color: @light-grey;
        }
    }
}

#main-content{
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card, .active-card{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .card-content{
            margin-top: 20px;
            flex-flow: column nowrap;
            align-items: center;

            @media @desktop{
                flex-flow: row wrap;

                p, .body-img{
                    width: 47%;
                }
            }
        }
    }

    .body-img{
        width: 100%;
        max-width: 470px;
        border-radius: 30px;

        @media @desktop{
            width: 47%;
        }
    }

    p{
        margin: 20px 0;

        &:last-child{
            padding-bottom: 20px;
        }
    }

    .sign-up{
        border-top: 1px solid @charcoal;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        P{
            padding-top: 10px;
        }

        #signup-btn{
            .custom-btn(120px, 45px);
            text-decoration: none;
            background-color: @dark-green;
            margin: 10px auto;
    
            &:hover{
                background-color: @light-green;
            }
        }
    }
}