

.tabs {
    .topics{
        margin: 20px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 90%;
    
        .tab{
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;
    
            &:hover{
                background-color: @light-grey;
                cursor: pointer;
            }
        }

        .active-tab {
            background-color: @light-grey;
            h4{
                color: @black;
            }
        }
    }
}

#main-content{
    width: 95%;
    max-width: 1000px;
    margin: auto;

    #woman-with-phone{
        width: 100%;
        max-width: 470px;
        margin: auto;
        padding: 15px;
        border-radius: 30px;

        @media @desktop{
            width: 50%;
        }
    }

    p{
        margin: 20px 0;

        &:last-child{
            padding-bottom: 20px;
        }
    }

    #signup-btn{
        .custom-btn(120px, 45px);
        text-decoration: none;
        background-color: @dark-green;
        margin: 30px auto;

        &:hover{
            background-color: @light-green;
        }
    }
}