.custom-font(@size, @color){
    font-size: @size;
    color: @color;
}

.custom-icon(@color){
    font-size: 2rem;
    color: @color;
}

.flex-align-center(){
    display: flex;
    align-items: center;
}

.custom-btn(@width, @height){
    width: @width;
    height: @height;
    cursor: pointer;
    transition: 0.3s;
    .flex-align-center;
    justify-content: center;
    border-radius: 10px;
}

.gradient(@deg){
    background-image: linear-gradient(@deg, @dark-green, @dark-blue);
}