#about-header{
    .gradient(135deg);
    margin-bottom: 30px;
    padding: 10px 0;
    width: 100%;

    .nav-content{
        .flex-box(row wrap, center, center);
        width: 90%;
        max-width: 900px;
        margin: auto;

        nav{
            .flex-box(row wrap, space-between, center);

            a{
                font-size: 1.5rem;
                margin: 10px;

                @media @desktop{
                    font-size: calc(1.5rem + 0.1vw);
                }
            }
        }
        @media @tablet-landscape{
            .flex-box(row wrap, flex-end, center)
        }
        
        @media @desktop{
            max-width: calc(900px + 10vw);
        }
    }
}