// Variables
@font-dark: @charcoal;
@font-light: @white;

// Color Definition
@yellow-green: #c3e895;
@light-green: #8addaa;
@turquoise: #6bd4c8;
@light-blue: #57aed3;
@mid-blue: #4a87d3;
@indigo: #6b88e6;
@dark-green: #4fa49a;
@dark-blue: #4361c2;
@charcoal: #666;
@white: #FFFFFF;

// Desktop Media Query Variable
@desktop: ~"(min-width: 700px)";
@tablet: ~"(min-width: 500px)";